<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Review and test again for deploy</title>
    <h1 align="center">YY 的 Django 測試</h1>
</head>
<body>
    <!-- content 是個變數名稱，可以隨意取沒關係。 -->
    {% block content%}
    {% endblock%}
</body>
<footer>
    <div align="center"> Made in YYL, 2021-03-16</div>
</footer>

</html>