<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Review and test again for deploy</title>
</head>
<body>
    <div align="center">
        <form method="post" action="./api/username">
            ur name: <input type="text" name="username" placeholder="name">
            <button type="submit">submit</button>
        </form>

    </div>

</body>
<footer>
    <div align="center"> Made in YYL, 2021-03-16</div>
</footer>

</html>